body{
	margin: 0;
	background-color: #97745B;
	font-family: Helvetica, Arial, sans-serif;

}

header{
	background-color: #EBE7DF;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}


header h1{
	color: black;
	font-family: Caveat Brush, cursive;
	font-size: 40px;
}

header img{
	border-radius: 200px;
	width: 350px;
	border: 8px solid #98CDDB;
}

/*MAIN ELEMENTS*/

main {
	color: white;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px 80px 20px;
}

h2{
    font-style: italic;
}

h2, h3{
		font-family: Caveat Brush, cursive;
		font-size: 30px;
		text-indent: 5px;
}

p.break{
	padding-bottom: 10px;
}


main img{
	max-width: 100%;
    border: 5px solid #98cddb;
}

main img.aboutimage{
	max-width: 100%;
	width: 450px;
    height: 300px;
    border: 5px solid #98cddb;
}

p.caption{
	font-style: italic;
    font-size: small;
    text-align: center;
}

/*Removing hyperlink styling*/
main a{ 
	color: inherit; 
	text-decoration: none;
}

main a:hover{
	opacity: 0.5;
	background-color: lightgrey
	color: black;
}

.pointer{
	cursor: pointer;
}

/*2 COLUMN LIST*/
ul.columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.columns{ float: left;
    position: relative;
    margin-right: 20px;
}


}
/*FOOTER ELEMENTS*/
footer a{
	color: #97745B;
}
footer a:hover{
	color: black;
}

footer{
	background-color: lightgrey;
	opacity: 100%;
	color: #97745B;
	padding: 10px 0 10px 20px;
	text-align: center;
	}

p.signiture{
	color: black;
}
